body {
    text-align: center;
    margin: 0%;
    padding: 0%;
}

/* Header container */

.headwrapper {
    padding: 0;
  
}

#name {
    background-color: teal;
    margin: 0;
    padding: 10px;
    float: none;

}

#aboutnav {
    float: none;
}


ul {
      
     margin-bottom: 0%; 
     padding-bottom: 3%
     
}

li {
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
    
}

a, a:visited {
    text-decoration: none;
    color: grey; 
}


/* maint content container */

.filling {
    background-color: lightgrey;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* section css */
#Wrapper {
    background-color:white;
    width: 80%;
    margin: auto;
    padding: 3%

    
}

h3 {
    background-color: white;
    text-align: left;
    font-size: 25px;
    border-bottom: 2px solid lightgrey;
}

section img {
    width: 100%;

}

/* aside css */

aside {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 3%;
    
    
}

.connect {
    background-color: white;
    text-align: left;
    font-size: 25px;
    border-bottom: 2px solid lightgrey; 
    color:teal;
    margin: 0%;
    padding: 2%;
       
}
/* End of Main content CSSS */

footer {
    background-color: grey;
    
    border-top: 10px solid teal; 
    padding: 4%;
    color: lightgrey;
}



@media screen and (min-width: 768px) {
    
    .headwrapper {
        margin: 0;
        padding: 0;
    }
    
    #name { float:left;
    padding: 10px;
    margin-left: 55px;
   }
    
    
    #aboutnav {
        float: right;
        margin: 0;
        padding: 0;       
    }    

   
          .clearfix:after { 
            content:"";
            display: table;
            clear: both;
                  }
   
   
                  .headwrapper ul{
        padding-bottom:0;
        margin: 0;
        padding-top: 20px; 
    }

    
    section img {
        width: 50%;
     
    }

    #imagebox img {
        padding-right: 15px;
        float: left;
    }


}

@media screen and (min-width: 980px) {
 
    .filling {
        background-color: lightgrey;
         padding-top: 5%;
        padding-bottom: 5%; 
    } 
   
    section {
        float: left;     
        width: 100px;        
            }
    
  aside {

    float: right;
     width: 30%;
     margin-right: 30px;
     
  }

   

    #imagebox img {
        padding-right: 15px;
        width: 90%;
        float: none;
    } 

    #Wrapper {
        background-color:white;
        width: 40%;
        margin: auto;
        padding: 3%;
        margin-left: 50px;
    
        
    }
    






}